$minwidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$fontFamily: 'Heebo';

$primary: #FF6464;
$secondary: #00A8CC;
$dark: #21243D;
$light: #8695A4;
$grey: #E0E0E0;