.works {
    &__main-title {
        margin: 0 0 45px 0;
        @media (min-width: $md3) {
            margin: 0 0 20px 0;
        }
    }
    &__items {
        padding: 0 0 60px 0;
        @media (max-width: $md3) {
            padding: 0 0 30px 0;
        }
    }
    &__item {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
        padding: 0 0 30px 0;
        border-bottom: 1px solid $grey;
        @media (min-width: $md3) {
            display: flex;
            align-items: flex-start;
        }
    }
    &__image {
        flex: 0 0 246px;
        display: block;
        min-height: 180px;
        border-radius: 6px;
        overflow: hidden;
        @media (max-width: $md3) {
            padding: 0 0 60% 0;
            margin: 0 0 17px 0;
        }
    }
    &__body {
        flex: 1 1 auto;
        @media (min-width: $md3) {
            padding: 0 0 0 18px;
        }
    }
    &__title {
        transition: color 0.3s ease 0s;
        display: inline-block;
        margin: 0 0 15px 0;
        color: inherit;
        font-size: 30px;
        font-weight: 700;
        line-height: calc(44 / 30 * 100%);
        @media (max-width: $md3) {
            font-size: 24px;
        }
        @media (min-width: $md2) {
            &:hover {
                color: $primary;
            }
        }
    }
    &__info {
        margin: 0 0 15px 0;
        display: flex;
        align-items: center;
    }
    &__year {
        color: #fff;
        background: #142850;
        border-radius: 16px;
        height: 25px;
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        font-weight: 900;
        font-size: 18px;
    }
    &__category {
        margin: 0 0 0 25px;
        color: $light;
        font-size: 20px;
    }
    &__text {
    }
}
